.timeRange {
  display: flex;
  flex-direction: row;
  padding: 0.1rem;
}

.timeRangeSelector {
  display: flex;
  border: none;
  font-weight: bold;
  /* background-color: #444; */
  margin: 0 0.5rem 0.5rem 0.5rem;
  border-radius: 30%;
}

label {
  display: inline-block;
  /* width: 100px;
  height: 50px; */
  /* border: solid 2px red; */
  padding: 0.5rem;
  border-radius: 25%;

}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  /* border: solid 2px green; */
  background-color: #444;
}
